body {
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}
img{
    display: block;
    width: 100%;
}
.container {
    width: 1360px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-----------HEADER----------*/

.header  {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    position: fixed;
    /*width: 100%;*/
    right: 0;
    left: 0;
    

}

header .container {
    padding: 0 28px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
align-items: center;
}

.header-logo {
    color: #FFF;
        font-family: Open Sans;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
}

.header-log-accent {
    color: #28A745;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {}

.header-link-accent {
    display: block;
    color: #FFF;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.56;
        padding: 20px 0;
}
/*-----------------------------Section1------------------*/

.hero {
    background-image: url(../images/rectangle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    padding: 279px 0 282px 0;
}

.hero-title {
    color: #E9E9E9;
        font-family: Open Sans;
        font-size: 55px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 24px;
}

.hero-text {
    color: #E9E9E9;
        font-family: Open Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67;
        margin-bottom: 32px;
}

.hero-link {
color: #FFF;
background-color: #28A745;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.56;
        padding: 10px 28px;
border-radius: 5px;

}

/* ----------about--------------- */
.about {
    background: #28A745; 
}

.about-container{
    display: flex;
}

.about-piple {
    width: 670px;
    height: 460px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.about-img {
}
.about-solutions {
    
    padding-left: 20px;
    padding-top: 80px;
    padding-right: 64px;
}
.about-subtitle {
    color: #FFF;
font-size: 20px;
font-weight: 400;
line-height: 1.64; 
margin-bottom: 24px;
}
.about-title {
    color: #FFF;
font-size: 38px;
font-weight: 300;
line-height: 1.26; /* 126.316% */
margin-bottom: 24px;
}
.about-text {
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 1.56; /* 156.444% */
margin-bottom: 24px;
}
.about-link {
    display: inline-block;
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 1.56; /* 156.444% */
padding: 11px 35px 12px 34px;
border-radius: 5px;
border: 1px solid #FFF;
}
