<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- <header class="header">
      <div class="container">
        <nav class="header-nav">
          <a href="index.html" class="header-logo link"
            ><span class="header-log-accent">Finance</span> Ledger</a
          >
          <ul class="header-list list">
            <li class="header-item">
              <a class="header-link-accent link" href="./index.html">Home</a>
            </li>
            <li class="header-item">
              <a class="header-link-accent link" href="">About</a>
            </li>
            <li class="header-item">
              <a class="header-link-accent link" href="">Cases</a>
            </li>
            <li class="header-item">
              <a class="header-link-accent link" href="">Blog</a>
            </li>
            <li class="header-item">
              <a class="header-link-accent link" href="">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header> -->
    <main>
      <!-- <section class="hero">
        <div class="container">
          <h1 class="hero-title">The Sky Is The Limit</h1>
          <p class="hero-text">We provide world class financial assistance</p>
          <a href="" class="hero-link link">Read More</a>
        </div>
      </section> -->
      <section>
        <img src="./images/team.jpg" alt="Team" />
        <p>What you are looking for</p>
        <h2>We provide bespoke solutions</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <a href="/">Read More</a>
      </section>
      <section>
        <p>This is what we do</p>
        <h2>Business Cases</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
        <ul>
          <li><img src="./images/img1.jpg" alt="working mans" /></li>
          <li><img src="./images/img2.jpg" alt="working mans" /></li>
          <li><img src="./images/img3.jpg" alt="working mans" /></li>
          <li><img src="./images/img4.jpg" alt="working mans" /></li>
          <li><img src="./images/img5.jpg" alt="working mans" /></li>
          <li><img src="./images/img6.jpg" alt="working mans" /></li>
        </ul>
      </section>
      <section>
        <p>April 16 2020</p>
        <h2>Blog Post One</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <a href="">Read Our Blog</a>
        <img src="./images/coffee.jpg" alt="coffee on the table" />
      </section>
    </main>
    <footer></footer>
  </body>
</html>
