<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="index.html" class="header-logo link"
        ><span class="header-log-accent">Finance</span> Ledger</a
      >
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link-accent link" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link-accent link" href="">About</a>
        </li>
        <li class="header-item">
          <a class="header-link-accent link" href="">Cases</a>
        </li>
        <li class="header-item">
          <a class="header-link-accent link" href="">Blog</a>
        </li>
        <li class="header-item">
          <a class="header-link-accent link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>